<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <meta charset="utf-8">
  <title>Travel · Patrick Collison</title>
</head>
<body>
<div id="menu">
<span class="title">Patrick Collison</span>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/advice">Advice</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/bookshelf">Bookshelf</a></li>
  <li><a href="/culture">Culture</a></li>
  <li><a href="/fast">Fast</a></li>
  <li><a href="/growth">Growth</a></li>
  <li><a href="/labs">Labs</a></li>
  <li><a href="/links">Links</a></li>
  <li><a href="/people">People</a></li>
  <li><a href="/pollution">Pollution</a></li>
  <li><a href="/progress">Progress</a></li>
  <li><a href="/questions">Questions</a></li>
  <li><a href="/svhistory">SV history</a></li>
  <li><a href="/travel">Travel</a></li>
  <li><a href="/work">Work</a></li>
</ul>
</div>
<div id="left">&nbsp;</div>
<div id="content">
<p>When you land in a new destination, what should you read? It's hard to find good material with search engines because the space is SEO'd so aggressively. A Wikipedia article is fine insofar as it goes, but inevitably misses much of the texture of a place. I think it'd be neat if there was some kind of service that collated great travel writing -- especially pieces that capture something of the context of a place. (See the Davies post below.) In advance of there being a service like that -- or perhaps simply in advance of my awareness of already-existing solutions -- here's the beginning of a list of pieces in this genre that I've enjoyed.</p>

<ul>
    <li>Maciej Ceglowski: <a href="http://idlewords.com/2016/05/shuffleboard_at_mcmurdo.htm">Antarctica</a>, <a href="http://idlewords.com/2006/04/argentina_on_two_steaks_a_day.htm">Argentina</a>, <a href="http://idlewords.com/2014/07/sana_a.htm">Sana'a</a>.</li>
    <li>Tyler Cowen: <a href="https://marginalrevolution.com/marginalrevolution/2016/08/what-you-can-learn-from-the-faroe-islands.html">Faroe Islands</a>.</li>
    <li>Daniel Davies: <a href="http://crookedtimber.org/2014/08/26/the-world-is-squared-episode-1-switzerland-country-of-joyce/">Switzerland</a>.</li>
    <li>William Gibson: <a href="https://www.wired.com/1993/04/gibson-2/">Singapore</a>.</li>
    <li>Geoff Manaugh: <a href="http://www.bldgblog.com/2007/10/greater-los-angeles/">Los Angeles</a>.</li>
    <li>Dan Wang: <a href="https://danwang.co/yunnan-unglobalized-part-of-the-world/">Kunming</a>.</li>
</ul>

<p>Pointers to particularly good pieces are very welcome; I'll add to the above. And pointers to <i>sites</i> that attempt to solve this more broadly would be great. In either case, <a href="mailto:patrick@collison.ie">emails appreciated</a>.</p>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2393307-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
