<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <meta charset="utf-8">
  <title>Work · Patrick Collison</title>
</head>
<body>
<div id="menu">
<span class="title">Patrick Collison</span>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/advice">Advice</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/bookshelf">Bookshelf</a></li>
  <li><a href="/culture">Culture</a></li>
  <li><a href="/fast">Fast</a></li>
  <li><a href="/growth">Growth</a></li>
  <li><a href="/labs">Labs</a></li>
  <li><a href="/links">Links</a></li>
  <li><a href="/people">People</a></li>
  <li><a href="/pollution">Pollution</a></li>
  <li><a href="/progress">Progress</a></li>
  <li><a href="/questions">Questions</a></li>
  <li><a href="/svhistory">SV history</a></li>
  <li><a href="/travel">Travel</a></li>
  <li><a href="/work">Work</a></li>
</ul>
</div>
<div id="left">&nbsp;</div>
<div id="content">
<p>People sometimes ask me about interesting places to go work. I of course think that <a href="https://stripe.com/jobs">Stripe</a> is a good answer. But here are some other options to consider:</p>

<ul>
    <li><a href="https://longevity.vc/">Longevity.vc</a>. Understanding the mechanisms that regulate aging could yield ways to treat many other diseases more effectively. Furthermore, <a href="https://twitter.com/laurademing">Laura</a> is a quite <a href="https://en.wikipedia.org/wiki/Laura_Deming">remarkable</a> individual.</li>
    <li><a href="https://ourworldindata.org/">Our World in Data</a>. To generate progress, we should understand how we're doing. Our World in Data is dedicated to quantitatively analyzing some of our most important global issues.</li>
    <li><a href="https://pioneer.app">Pioneer</a>. Pioneer is running a global talent radar. If it works, it could be a very big deal. They're hiring engineers.</li>
    <li>Tyler Cowen has a <a href="https://marginalrevolution.com/marginalrevolution/2019/12/work-on-these-things.html">list of interesting problems</a> to work on.</li>
</ul>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2393307-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
